[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/cpp-httplib"]
	path = deps/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "deps/json-rpc-cxx"]
	path = deps/json-rpc-cxx
	url = https://github.com/jsonrpcx/json-rpc-cxx.git
