[submodule "deps/cpp-httplib"]
	path = deps/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "deps/json-rpc-lib"]
	path = deps/json-rpc-lib
	url = https://github.com/MalteDoemer/json-rpc-lib
